.input-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    right: 12%;
    top: 10%;
}

.input-letter {
    display: flex;
    padding-bottom: 18px;
    font-size: 20pt;
    color: #ffffff;
    margin-top: 17px;
    font-weight: bold;
}

.input-info {
    display: inline-block;
    margin-bottom: 20px; 
    padding-top: 10px; 
    width: 380px;
    height: 55px;
    border-radius: 10px;
    font-size: 20pt;
    color: #AFABAB;
    background-color: #ffffff;
    outline: none;
    border: none;
    font-family: '맑은고딕';
}

.input-intro {    
    display: inline-block;
    margin-bottom: 20px; 
    padding-top: 10px; 
    width: 380px;
    height: 130px;
    border-radius: 10px;
    font-size: 20pt;
    color: #AFABAB;
    background-color: #ffffff;
    outline: none;
    border: none;   
    resize: none;
    font-family: '맑은고딕';
    font-weight: 500;
}

.accept-edit-btn {
    margin-top: 60px;
    width: 177px;
    height: 177px;
    color: #B060FF;
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 100%;
    cursor: pointer;
}

.input-box input,.input-box textarea{
    padding-left: 10px;
    font-size: 20pt;
}

.input-box td{
    cursor: default;
    width: 250px;
}