.profile-box {
    display: inline-block;
    width: 35%;
    height: 100%;
    border-right: solid 3px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-img {
    width: 350px;
    height: 350px;
    background-color: #ffffff;
    border: solid 30px #845EF7;   
    align-items: center;
    justify-content: center;
    margin-top: -10%;
}

.img-edit {
    color: white;
    font-size: 25pt;
    font-weight: bold;
    border-bottom: solid 1px #ffffff;
    cursor: pointer;
    margin-top: 50px;
}