.edit-container{
  background-color: #B060FF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: contain;  
}

.left-edit-container{
  height: 100%;
}

.right-edit-container{
  height: 100%;
}